PGDB_USERNAME=postgres
PGDB_PASSWORD=hieu1211
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=your@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_FROM_EMAIL=your@gmail.com
JWT_SECRET=changeme-replace-with-openssl-rand-base64-32-output
APP_BASE_URL=http://localhost:8080